{# File: block--test-menu--banner.html.twig #}
<div class="banner">
  <h2> Banner</h2>
  <div class="banner-block" style="background-image: url('{{ file_url(background_image) }}'); height: 400px; width: 400px;">
    <h2 style="color: white">{{ title }}</h2>
  </div>
</div>

